body {
    background-color: #181818;
    color: #eee;
}

body,
html {
    overflow: hidden;
}

:root {
    --el-text-color-regular: #999;
    --el-input-bg-color: #ccc;
    --el-fill-color-blank: #343434;
    --el-input-border-color: #000;
    --el-border-color: #9f9f9f;
    --el-collapse-header-text-color: #eee;
    --el-text-color-primary: #eee;
    --el-fill-color-blank: transparent;
    --el-fill-color-light: #2e2e2e;
    --el-border-color-light: #848484;
    --el-color-primary-light-9: #262626;
    --el-color-primary-light-8: #79a2cc;
    --el-bg-color-overlay: #222;
    --el-border-color-lighter: #444;
    --el-border-color-extra-light: #666;
    --el-bg-color: #2b2b2b;
    --el-empty-color: #3c3c3c;
    --el-menu-item-height: 48px;
    --el-text-color-secondary: #ccc;
    --el-fill-color: #444;

    --el-font-size-base: var(--mu-font-szie);

    --mu-theme-color: #409eff;
    --mu-font-szie: 14px;

    --header-height: 64px;
    --tags-height: 38px;
}

.el-table {
    --el-text-color-regular: #fff;
}

.el-checkbox {
    --el-checkbox-font-size: var(--mu-font-szie);
}

.el-row.is-align-center {
    align-items: center;
}

.align-center {
    align-items: center;
}

.align-top {
    align-items: flex-start;
}

.d-column {
    display: flex;
    flex-direction: column;
}

.large-mx {
    font-size: 1.8rem;
}

.min-h-full {
    min-height: 100%;
}

.flex-1 {
    flex: 1;
}

.page {
    padding: 1rem;
    min-height: 100%;
    overflow: auto;
    font-size: var(--mu-font-szie);
}

.el-text--high-color {
    color: #ccc;
}

.el-notification {
    --el-notification-content-color: var(--el-collapse-header-text-color);
}

.el-loading-spinner .el-loading-text {
    font-size: var(--mu-font-szie);
}

.base-font-size {
    font-size: var(--mu-font-szie);
}

.el-checkbox {
    --el-checkbox-checked-text-color: #c2c2c2;
    --el-checkbox-checked-bg-color: #181818;
    --el-checkbox-checked-input-border-color: #ffffff;
    --el-checkbox-checked-icon-color: #ffffff;
}

.hidden {
    visibility: hidden;
    pointer-events: none;
}

.align-top {
    align-items: flex-start;
}

.pt-2 {
    padding-top: 2rem;
}

.opa-text {
    margin: 0;
    text-decoration: underline;
    padding: 3px 4px;

    &:hover {
        opacity: 0.7;
    }

    &.is-text:not(.is-disabled):active {
        background-color: transparent;
        color: #fff;
    }
}