body {
    background-color: #181818;
    color: #eee;
}
body, html {
    overflow: hidden;
}
:root {
    --el-text-color-regular: #999;
    --el-input-bg-color: #ccc;
    --el-fill-color-blank: #343434;
    --el-input-border-color: #000;
    --el-border-color: #9f9f9f;
    --el-collapse-header-text-color: #eee;
    --el-text-color-primary: #eee;
    --el-fill-color-blank: transparent;
    --el-fill-color-light: #2e2e2e;
    --el-border-color-light: #848484;
    --el-color-primary-light-9: #262626;
    --el-color-primary-light-8: #79a2cc;
    --el-bg-color-overlay: #222;
    --el-border-color-lighter: #444;
    --el-border-color-extra-light: #666;
    --el-bg-color: #2b2b2b;
    --el-empty-color: #3c3c3c;
    --el-menu-item-height: 48px;
    --el-text-color-secondary: #ccc;
    --el-fill-color: #444;

    --el-font-size-base: 12px;

    --mu-theme-color: #409eff;

    --header-height: 64px;
    --tags-height: 38px;
}
.el-table {
    --el-text-color-regular: #fff;
}
.el-checkbox {
    --el-checkbox-font-size: 12px;
}
.el-row.is-align-center {
    align-items: center;
}
.align-center {
    align-items: center;
}
.d-column {
    display: flex;
    flex-direction: column;
}
.large-mx {
    font-size: 1.8rem;
}
.min-h-full {
    min-height: 100%;
}

.mt-1 {
    margin-top: 0.5rem;
}
.mt-2 {
    margin-top: 1rem;
}
.mr-1 {
    margin-right: 0.5rem;
}
.mr-2 {
    margin-right: 1rem;
}

.pl-1 {
    padding-left: 12px;
}
.pr-1 {
    padding-right: 12px;
}
.flex-1 {
    flex: 1;
}
.overflow-hidden {
    overflow: hidden;
}
.page {
    padding: 1rem;
    min-height: 100%;
    overflow: auto;
}
.el-text--high-color {
    color: #ccc;
}

.el-notification {
    --el-notification-content-color: var(--el-collapse-header-text-color);
}
.no-wrap {
    flex-wrap: nowrap;
}
.el-loading-spinner .el-loading-text {
    font-size: 12px;
}